venv/
.streamlit/
.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
dynamicAnalytics/
docker-compose.yml
docker-compose.streamlit.yml
run-sonarqube-report.ps1
sonar-project.properties
test-data/
local-k8s/